/* The code snippet is a CSS stylesheet that defines the styling for a webpage. It sets the font family, size, and weight, as well as the background color, padding, and margin for various sections of the webpage, such as the navbar, hero */
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script:regular,500,600,700);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #1a1a1a;
    width: 100vw;
    position: fixed;
    z-index: 1;
}

.navbar-title {
    font-family: 'Dancing Script', cursive;
    margin: 0;
    font-size: 30px;
    color: #fff;
}

.navbar-items {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.navbar-items li {
    margin-left: 10px;
}

.navbar-items li:first-child {
    margin-left: 0;
}

.navbar-items a {
    text-decoration: none;
    color: #fff;
}

.navbar-items a:hover {
    color: #fff;
    text-decoration: underline;
}

.navbar-items a:active {
    color: #fff;
    text-decoration: underline;
}

.hero-section {
    background-image: url('images/back.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    column-gap: 10px;
}

.hero-section h1 {
    font-size: 80px;
    color: #fff;
    margin: 0;
}

.hero-section h2 {
    font-size: 50px;
    color: #fff;
    margin: 0;
    font-family: 'Dancing Script', cursive;
}

.hero-section p {
    font-size: 30px;
    color: #fff;
    margin: 0;
    font-weight: 500;
}

.about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    column-gap: 10px;
    padding: 50px;
    background-color: #1a1a1a;
    color: #fff;
}

.about-title {
    font-size: 50px;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    padding-bottom: 40px;
}

.description p {
    flex-direction: column;
    font-size: 16px;
    font-weight: 300;
    padding: 10px;
    text-align: justify;
}

.about-section button {
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: darkred;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    cursor: pointer;
    text-transform: uppercase;
}

.about-section button:hover {
    background-color: #fff;
    color: darkred;
}

.recipes-section {
    background-color: #1a1a1a;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.recipes-title {
    font-size: 50px;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
}

.recipe {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 10px;
    padding: 20px;
}

.img-recipe,
.ingredients {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.ingredients {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    padding: 20px;
}

#recipe-title,
#recipe-ingredients {
    font-size: 25px;
}

.ingredients li {
    padding: 10px;
}

.recipes-btn {
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: darkred;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 20px;
}

.recipes-btn:hover {
    background-color: #fff;
    color: darkred;
}

footer {
    background-color: #1a1a1a;
    padding: 20px;
    text-align: center;
}

.social-icons a {
    display: inline-block;
    margin: 0 10px;
    color: #fff;
    font-size: 20px;
}

.social-icons a:hover {
    color: #007bff;
}


@media (max-width: 600px) {
    body {
        font-size: 14px;
    }

    .navbar-title {
        font-size: 20px;
    }

    .navbar-items {
        display: none;
    }

    .navbar {
        justify-content: center;
    }

    .hero-section h1 {
        font-size: 40px;
    }

    .hero-section h2 {
        font-size: 30px;
    }

    .hero-section p {
        font-size: 20px;
        text-align: center;
    }

    .about-title {
        font-size: 30px;
    }

    .description {
        flex-direction: column;
    }

    .description p {
        font-size: 14px;
    }

    .about-section button {
        font-size: 14px;
    }

    .recipes-title {
        font-size: 30px;
    }

    .recipe {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }

    .img-recipe,
    .ingredients {
        width: 100%;
        height: 100%;
    }

    .ingredients {
        padding: 10px;
    }

    .ingredients li {
        padding: 5px;
    }

    .recipes-btn {
        font-size: 14px;
    }

    footer {
        font-size: 14px;
    }

    .social-icons a {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    body {
        font-size: 14px;
    }

    .navbar-title {
        font-size: 20px;
    }

    .navbar-items {
        display: none;
    }

    .navbar {
        justify-content: center;
    }

    .hero-section h1 {
        font-size: 40px;
    }

    .hero-section h2 {
        font-size: 30px;
    }

    .hero-section p {
        font-size: 20px;
        text-align: center;
    }

    .about-title {
        font-size: 30px;
    }

    .description {
        flex-direction: column;
    }

    .description p {
        font-size: 14px;
    }

    .about-section button {
        font-size: 14px;
    }

    .recipes-title {
        font-size: 30px;
    }

    .recipe {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }

    .img-recipe,
    .ingredients {
        width: 100%;
        height: 100%;
    }

    .ingredients {
        padding: 10px;
    }

    .ingredients li {
        padding: 5px;
    }

    .recipes-btn {
        font-size: 14px;
    }

    footer {
        font-size: 14px;
    }

    .social-icons a {
        font-size: 14px;
    }
}

@media (max-width: 992px) {
    body {
        font-size: 14px;
    }

    .navbar-title {
        font-size: 20px;
    }

    .navbar-items {
        display: none;
    }

    .navbar {
        justify-content: center;
    }

    .hero-section h1 {
        font-size: 40px;
    }

    .hero-section h2 {
        font-size: 30px;
    }

    .hero-section p {
        font-size: 20px;
        text-align: center;
    }

    .about-title {
        font-size: 30px;
    }

    .description {
        flex-direction: column;
    }

    .description p {
        font-size: 14px;
    }

    .about-section button {
        font-size: 14px;
    }

    .recipes-title {
        font-size: 30px;
    }

    .recipe {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }

    .img-recipe,
    .ingredients {
        width: 100%;
        height: 100%;
    }

    .ingredients {
        padding: 10px;
    }

    .ingredients li {
        padding: 5px;
    }

    .recipes-btn {
        font-size: 14px;
    }

    footer {
        font-size: 14px;
    }

    .social-icons a {
        font-size: 14px;
    }
}

@media (max-width: 1200px) {
    body {
        font-size: 14px;
    }

    .navbar-title {
        font-size: 20px;
    }

    .navbar-items {
        display: none;
    }

    .navbar {
        justify-content: center;
    }

    .hero-section h1 {
        font-size: 40px;
    }

    .hero-section h2 {
        font-size: 30px;
    }

    .hero-section p {
        font-size: 20px;
        text-align: center;
    }

    .about-title {
        font-size: 30px;
    }

    .description {
        flex-direction: column;
    }

    .description p {
        font-size: 14px;
    }

    .about-section button {
        font-size: 14px;
    }

    .recipes-title {
        font-size: 30px;
    }

    .recipe {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }

    .img-recipe,
    .ingredients {
        width: 100%;
        height: 100%;
    }

    .ingredients {
        padding: 10px;
    }

    .ingredients li {
        padding: 5px;
    }

    .recipes-btn {
        font-size: 14px;
    }

    footer {
        font-size: 14px;
    }

    .social-icons a {
        font-size: 14px;
    }
}